## Config

In [4]:
dataset_name = 'EmoEvent (Raw)'
labels_column = 'labels'    # emotion

limit_columns = True
limit_column_names = ['text']

remove_others = True

sample_size = 50
random_seed = 418   #   I'm a teacup

## Load Dataset

In [5]:
import pandas as pd
from config_files import dataset_config

dataset_metadata = dataset_config.dataset[dataset_name]

file_location = f"./{dataset_metadata['relpath']}"

if dataset_metadata['filetype'] == 'csv':
    df_full_dataset = pd.read_csv(file_location)
elif dataset_metadata['filetype'] == 'tsv':
    df_full_dataset = pd.read_csv(file_location, sep="\t")

df_full_dataset

,id,event,tweet,offensive,emotion
0,3B9XR6P1WE1U78OX08FW8NXJL93BJG,NotreDame,I know that the Notre Dame is a very important...,NO,others
1,3P4ZBJFX2V96Q90CC9K7G3IC235WFF,Venezuela,#BREAKING: (USER) -- Trump threatens `full an...,NO,others
2,3IQ9O0AYW65Y8JY8ICLHWGO5E1JIT6,LaLiga,#Barcelona will win La Liga with three games t...,NO,others
3,3XEIP58NL0TWKWFD977CAKHEG1ZLZ3,LaLiga,HT: Decent half. A goal would've been good tho...,NO,others
4,3BFNCI9LYKWWKIJIK6BTNEUY6MU37E,GretaThunberg,In the 20th century we had weeping statues of ...,NO,others
...,...,...,...,...,...
7261,3TTPFEFXCTQSAQCCGHV3LUVCUGPH6X,Venezuela,With regime change yet to take hold in #Venezu...,NO,fear
7262,3XT3KXP24Z4S6LNWMZDOL6WRUT46IF,NotreDame,#NotreDameCathedralFire Fantastic the response...,NO,others
7263,3EHIMLB7F75FE4V09WS158R30BIH8M,GameOfThrones,For those of you questioning the Arya thing. P...,NO,others
7264,3MYASTQBG7H48SQU9UQB0EX52P7DQG,NotreDame,Respect for people in france who've lost a his...,NO,sadness
7265,3CO05SML7VBAL940AXRGQXNR4M1R03,Venezuela,Socialism always ends up in brutal and forcefu...,OFF,joy

In [6]:
df_full_dataset.drop(columns = dataset_metadata['unused_columns'], inplace=True)
df_full_dataset.rename(columns = dataset_metadata['remap_columns'], inplace=True)

display(df_full_dataset)

full_label_count =  pd.Series(df_full_dataset.labels).value_counts()
print(full_label_count)

,event,text,labels
0,NotreDame,I know that the Notre Dame is a very important...,others
1,Venezuela,#BREAKING: (USER) -- Trump threatens `full an...,others
2,LaLiga,#Barcelona will win La Liga with three games t...,others
3,LaLiga,HT: Decent half. A goal would've been good tho...,others
4,GretaThunberg,In the 20th century we had weeping statues of ...,others
...,...,...,...
7261,Venezuela,With regime change yet to take hold in #Venezu...,fear
7262,NotreDame,#NotreDameCathedralFire Fantastic the response...,others
7263,GameOfThrones,For those of you questioning the Arya thing. P...,others
7264,NotreDame,Respect for people in france who've lost a his...,sadness
7265,Venezuela,Socialism always ends up in brutal and forcefu...,joy

labels
others      3283
joy         2034
disgust      760
sadness      414
anger        390
surprise     234
fear         151
Name: count, dtype: int64

In [7]:
if remove_others:
    df_full_dataset = df_full_dataset[df_full_dataset['labels'] != 'others']
    display(df_full_dataset)

    full_label_count =  pd.Series(df_full_dataset.labels).value_counts()
full_label_percentages = full_label_count / full_label_count.sum() * 100
print(full_label_percentages)

,event,text,labels
8,Venezuela,USER People of #Venezuela !! so hilarious movi...,disgust
10,ChampionsLeague,Remarkable match &amp; Incredible performance ...,joy
11,GameOfThrones,That episode of Game Of Thrones was not as gre...,anger
12,GameOfThrones,#AvengersEndGame may have had the visual and w...,joy
14,ChampionsLeague,Lmao. Liverpool are done 😂. 🐐 Makes it 2-0 #U...,joy
...,...,...,...
7255,WorldBookDay,#WorldBookDay in words of #IvoAndric #NobelPri...,joy
7258,GretaThunberg,"Dear Politicians: Next election, you will want...",anger
7261,Venezuela,With regime change yet to take hold in #Venezu...,fear
7264,NotreDame,Respect for people in france who've lost a his...,sadness
7265,Venezuela,Socialism always ends up in brutal and forcefu...,joy

labels
joy         51.067035
disgust     19.081095
sadness     10.394175
anger        9.791614
surprise     5.874969
fear         3.791112
Name: count, dtype: float64

In [8]:
df_subset = df_full_dataset.groupby('labels', group_keys=False).apply(
    lambda x: x.sample(frac=0.0125, random_state = random_seed)     # Get a random, stratified sample
)
df_subset = df_subset.sample(frac=1, random_state=random_seed)  # Shuffle rows
df_subset

C:\Users\Dave\AppData\Local\Temp\ipykernel_2236\315190765.py:1: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  df_subset = df_full_dataset.groupby('labels', group_keys=False).apply(

,event,text,labels
3948,ChampionsLeague,Sometimes you just have to admire the genius o...,joy
5636,WorldBookDay,"If anyone wants to give me a book as a gift, I...",joy
507,WorldBookDay,On #WorldBookDay I am curled up with a book my...,joy
5454,GretaThunberg,Very wise words USER_arrowsmith ...we should a...,joy
2819,ChampionsLeague,FH underway... Hope's to USER #Liverpool to wi...,joy
5252,WorldBookDay,Happy world book day from Globeprep! What are ...,joy
444,GameOfThrones,Damn....Game of Thrones sounds crazy! Can’t fo...,disgust
3329,WorldBookDay,"As we celebrate world book day, make sure to i...",joy
4879,ChampionsLeague,More #ChampionsLeague action kicking off at 8p...,joy
4625,GameOfThrones,That was the best bit of tv I have ever watche...,joy
5315,GretaThunberg,"Greta Thunberg: The hero we need, or the resu...",disgust
4039,Venezuela,"#JorgeArreaza President #Trump, so they have t...",anger
2958,ChampionsLeague,"USER been pretty impressive up to now, Mane ha...",joy
6108,GameOfThrones,I'm just so angry because my absolute favourit...,anger
1019,ChampionsLeague,Nobody can make you feel inferior without your...,joy
5019,Venezuela,FREEDOM for the People of Venezuela 🇻🇪 We are...,anger
7264,NotreDame,Respect for people in france who've lost a his...,sadness
1950,WorldBookDay,There are many little ways to enlarge your chi...,joy
7040,NotreDame,Billionaires pledging tons of money to fix a c...,disgust
5709,GameOfThrones,Wow. Just watched latest episode. Amazing! Tim...,joy
558,GretaThunberg,New translation project! So excited! #scenerur...,joy
6441,Venezuela,I’ve had CNN in the background most of the day...,disgust
2859,NotreDame,I am sad about what happened to Notre-Dame bec...,sadness
5772,NotreDame,The Left: Burn! Burn you symbol of Christian c...,anger
6510,GameOfThrones,ARYA OH MY GOD YOU FUCKING BAD ASS BITCH I LOV...,joy
3869,Venezuela,"USER USER USER well, there were plenty of ""evi...",disgust
3511,ChampionsLeague,"Didn’t deserve to lose that 3-0, but one team ...",joy
2814,ChampionsLeague,600 goals for my main man Messi in all competi...,joy
7120,WorldBookDay,Happy World Book Day #WorldBookDay 🎶Nwanne Wa ...,joy
2279,LaLiga,oh shit now we have 26 #LaLiga,surprise
990,ChampionsLeague,Wish my teams were playing in the finals than ...,sadness
7083,LaLiga,Million Dollar Smile.. GOAT got his 10th Leag...,joy
31,WorldBookDay,"On #WorldBookDay, be inspired by these amazing...",joy
4854,WorldBookDay,"Beloved books 📚. The gateway to history, disco...",joy
974,WorldBookDay,Happy #CanadaBookDay! Only 2 more days to go u...,joy
3152,GameOfThrones,The real question we’re now all asking is how ...,anger
6959,NotreDame,My Gosh 💔💔 Pain in one part of the body ... wh...,surprise
45,GameOfThrones,"I actually cried at the end, you all thought a...",joy
6559,GameOfThrones,1. we waited 8 seasons before we can finally s...,sadness
1824,Venezuela,What is happening now in #Venezuela is unaccep...,disgust
5744,NotreDame,i cry for my brothers in Paris and for those a...,sadness
2577,GameOfThrones,Arya is awesome... That's all I have to say......,joy
971,ChampionsLeague,Only the 5th best player in the world has gone...,disgust
4724,WorldBookDay,#WorldBookDay: Ten memorable scenes from Hindi...,disgust
4291,Venezuela,Wow! Shits bout to get real folks! https://t....,disgust
1313,GretaThunberg,#GretaThunberg should absolutely be nominated ...,fear
5193,GameOfThrones,#Endgame and #GameofThrones both in the one ni...,surprise
5930,ChampionsLeague,"Great ball by Alba, wonderful run &amp; finish...",joy
2285,Venezuela,"What is happening right now in #Venezuela, in ...",fear
2638,Venezuela,USER What more of a civil war than the rampant...,disgust

In [9]:
subset_label_count = pd.Series(df_subset.labels).value_counts()
print(subset_label_count)
subset_label_percentages = subset_label_count / subset_label_count.sum() * 100
print(subset_label_percentages)

labels
joy         25
disgust     10
anger        5
sadness      5
surprise     3
fear         2
Name: count, dtype: int64
labels
joy         50.0
disgust     20.0
anger       10.0
sadness     10.0
surprise     6.0
fear         4.0
Name: count, dtype: float64

## Export

In [10]:
df_subset['text'].to_csv(f"./subset/EmoEvents_raw_subset_unlabeled.csv", index=True)
df_subset.to_csv(f"./subset/EmoEvents_raw_subset_original_labels.csv", index=True)